---
layout: default
title: Devin Beck - IT Professional & Developer
description: Devin Beck's personal website.
---

<section class="content-section">
    <h1>Welcome to Devin Beck's Personal Website</h1>
    <p>My name is Devin Beck. Originally from Arizona, I've called Taos, New Mexico 
      my home since 2012. For a decade, I spent my summers as a river guide and my 
      winters snowboarding and working as a sales supervisor at Taos Ski Valley. 
      Recently, I've transitioned to being a full-time IT professional, though I 
      still guide on weekends.
    </p>
  
    <p>Outside of learning a new function or scouting a rapid, you can find me 
      snowboarding at TSV, cruising on my Onewheel, or undertaking a project with 
      my wife. A big shout-out to my incredible wife, who is the proud owner of 
      <a href="https://taosbestcleaning.com/">Taos Best Cleaning</a>.
    </p>
      
    <p>This website represents both my learning journey and a platform to showcase 
      my projects.
    </p>
</section>
<section class="content-section">
    <h2>Recent Updates</h2>
    <ul>
        <li><a href="https://github.com/devin6beck">GitHub</a></li>
    </ul>
</section>

{% include About.html %}
{% include Projects.html %}
{% include Resources.html %}
{% include Contact.html %}
{% include Donation.html %}