<section class="content-section" id="donation-section">
  <header>
      <h1>Support My Work</h1>
  </header>
  <article>
      <p>If you appreciate my content and want to support me, consider donating through one of the platforms below:</p>
      <ul>
        <li>Venmo: <a href="https://venmo.com/DCB23" target="_blank" rel="noopener noreferrer">DCB23</a></li>
        <li>Cash App: <a href="https://cash.app/$DevinCBeck" target="_blank" rel="noopener noreferrer">$DevinCBeck</a></li>
        <li>PayPal: <a href="https://paypal.me/Devin6Beck" target="_blank" rel="noopener noreferrer">@Devin6Beck</a></li>
        <li>Strike/Lightning: <a href="https://strike.me/dcbeck" target="_blank" rel="noopener noreferrer">Strike.me/dcbeck</a></li>
    </ul>
  </article>
</section>

