<nav>
  <ul class="nav-list">
      <li class="nav-item"><a href="#home-section" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#recent-section" class="nav-link">Recent</a></li>
      <li class="nav-item"><a href="#projects-section" class="nav-link">Projects</a></li>
      <li class="nav-item"><a href="#resources-section" class="nav-link">Resources</a></li>
      <li class="nav-item"><a href="#contact-section" class="nav-link">Contact</a></li>
      <li class="nav-item"><a href="#donation-section" class="nav-link">Donate</a></li>
  </ul>
</nav>