<nav>
  <ul class="nav-list">
      <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="about.html">About Me</a></li>
      <li class="nav-item"><a class="nav-link" href="projects.html">Projects/GitHub</a></li>
      <li class="nav-item"><a class="nav-link" href="resources.html">Resources</a></li>
      <li class="nav-item"><a class="nav-link" href="donation.html">Payment/Donation</a></li>
      <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
  </ul>
</nav>
