<nav>
  <ul class="nav-list">
    <li class="nav-item"><a class="nav-link" href="#about-section">About Me</a></li>
    <li class="nav-item"><a class="nav-link" href="#recent-section">Recent Updates</a></li>
    <li class="nav-item"><a class="nav-link" href="#projects-section">Projects/GitHub</a></li>
    <li class="nav-item"><a class="nav-link" href="#resources-section">Resources</a></li>
    <li class="nav-item"><a class="nav-link" href="#contact-section">Contact</a></li>
    <li class="nav-item"><a class="nav-link" href="#donation-section">Payment/Donation</a></li>
  </ul>
</nav>
