<section class="content-section" id="projects-section">
    <h1>Projects & GitHub Highlights</h1>
    <ul>
        <li>
            <h2>TSV Daily App Automation</h2>
            <p>An automation tool developed in Python to streamline daily accounting processes at Taos Ski Valley.</p>
            <a href="https://github.com/devin6beck/TSV_Daily_App">GitHub Repository</a>
        </li>
        <li>
            <h2>My Wife's Business Website</h2>
            <p>A website designed using HTML & CSS for Taos's best cleaning service.</p>
            <a href="https://taosbestcleaning.com/">Visit Site</a>
        </li>
    </ul>
</section>
