<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/images/site.webmanifest">       
    <meta content="{{ page.description }}" name="description"/>
</head>
<body>
    {% include navigation.html %}
    {{ content }}
    <footer>
        <p>&copy; 2023 Devin Beck | All rights reserved.</p>
    </footer>

<button class="arrow-btn arrow-up" onclick="window.scrollTo({top: 0, behavior: 'smooth'});">↑</button>
<button class="arrow-btn arrow-down" onclick="window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'});">↓</button>

</body>
</html>
